:root{
    --fontFamily: "Poppins", sans-serif;
    --branco: #fff;
    --preto: #000;
    --backgroundColor: #E3E3E3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontFamily);
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--backgroundColor);
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* Estilo do Header */

header{
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    right: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header .logo img{
    max-width: 40px;
    cursor: pointer;
} */

header .logo a{
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

header .menu-desktop nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header .menu-desktop nav ul li{
    margin: 0 30px;
}

header .menu-desktop nav ul li a{
    text-decoration: none;
    color: var(--branco);
    transition: .3s;

}

.menu-desktop nav a:hover{
    display: block;
    transform: scale(1.05);
}

header .btn-reservar button{
    width: 140px;
    height: 50px;
}

header .btn-reservar button, .contato .formas-contato button{
    background-color: transparent;
    border: 2px solid var(--branco);
    cursor: pointer;
    transition: .5s;
    color: #fff;
    font-size: 1.2em;
}

header .btn-reservar button:hover, .contato .formas-contato button:hover{
    background-color: var(--branco);
    color: #000;
    border: 2px solid var(--branco);
}

/* Estilo da Secao Hero */

section.hero-site{
    height: 99vh;
    background-image: url(../images/pousada-escurecida.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-site .interface{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.txt-hero h1{
    color: var(--branco);
    font-size: 2.9em;
    font-weight: 200;
}

.txt-hero h1 span{
    display: block;
    font-weight: bold;
}

/* Estilo da Secao Sobre */

section.sobre{
    height: 70vh;
}

.sobre .interface{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    flex-direction: column;
}

.txt-sobre h1{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.txt-sobre p{
    text-align: justify;
    font-weight: 300;
    font-size: 1.1em;
}

/* Estilo da Secao Quartos */

section.quartos{
    display: flex;
    background-color: #fafafa;
}

.quartos .interface{
    width: 100%;
    padding: 80px 0;
}

.itens-container{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#item-container-2{
    flex-direction: row-reverse;
}

#item-container-1 .txt-itens h2 span, #item-container-2 .txt-itens h2 span{
    display: inline;
    font-weight: 600;
}

.itens-container .txt-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 40%;
}

.itens-container .txt-itens h2{
    font-size: 2em;
    font-weight: 300;
    line-height: 40px;
}

.itens-container .txt-itens h2 span{
    display: block;
    font-weight: 600;
    font-size: 2.5rem;
}

.itens-container .img-itens img{
    width: 420px;
    border-radius: 15px;
    border: 2px solid orangered;
}

/* Estilo da Secao Servicos */

section.servicos{
    height: 70vh;
}

.servicos .interface{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.servicos .txt-servicos h2{
    font-size: 1.5em;
    margin-bottom: 40px;
}

.servicos .lista-servicos{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.servicos .servico-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos .servico-container *{
    margin-bottom: 3px;
}

.servicos .servico-container img{
    width: 48px;
}

 .servicos .icone-servico{
    margin-bottom: 15px;
 }

.servicos .descricao-servico{
    text-align: center;
    font-weight: 300;
    font-size: 1em;
    line-height: 30px;
}

/* Estilo da Secao Contato */

section.contato{
    height: 100vh;
    background-image: url(../images/hotel-noite.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contato .interface{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--branco);
}

.contato .contato-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.contato .contato-container h1{
    font-size: 3.5em;
    font-weight: 200;
}

.contato .contato-container h1 span{
    font-weight: 600;
    display: block;
}

.contato .contato-container .formas-contato ul{
    list-style-type: none;
    margin-top: 30px;
}

.contato-container .box-contato{
    margin-bottom: 10px;
}

.contato-container .box-contato a{
    text-decoration: none;
}

.contato-container .box-contato button{
    width: 350px;
    height: 50px;
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
